.keyboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.row.rowst {
    margin-bottom: 30px;
}

.right {
    margin-top: 91px;
}